@{
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

<!-- Start Top Bar Banner and Categories -->
<header class="main-header scrollme" id="top">

    @*Cart*@
    <div class="container">
        <div class="shopping-cart style3">
            @Html.Partial("_CartPartial")
        </div>
    </div>
    @*End of Cart*@


    <div class="top-banner-container top-banner-container-style2">
        @Html.Partial("_TopSectionPartial")

        @*Filters Strips*@
        <div class="header-bottom-bar style3">
            <div class="container">
                <div class="row">

                    @*Category Filter*@
                    <div class="col-md-9">
                        <ul class="category-filter store-category-filter">
                            <li class="filter active" data-filter="all"><span>All Products</span></li>
                            <li class="filter" data-filter=".main"><span>Vegetables</span></li>
                            <li class="filter" data-filter=".salad"><span>Fruits</span></li>
                            <li class="filter" data-filter=".starter"><span>Roots</span></li>
                        </ul>
                    </div>
                    @*End of Category Filters*@

                    @*Search Bar*@
                    <div class="col-md-3">
                        <form action="#" class="search-form">
                            <input type="search" name="search" id="search" placeholder="Search Store">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    @*End of Search Bar*@

                </div><!-- /row -->
            </div><!-- /container -->
        </div>
        @*End of Filters Strip*@
    </div>

</header>
<!-- End of top bar banner and categories -->


@*Products Section*@
<section class="store-items style3">
    <div class="container">
        <div class="row">

            @*Product Item*@
            <div class="col-md-4 col-sm-6 col-xs-12 mix main">
                <div class="store-item wow fadeInDown">
                    <figure>
                        <a href="#">
                            <img src="~/Images/Gallery/gallery-1.jpg" height ="200" width="200" />
                        </a>
                    </figure>
                    <h3 class="food-name">
                        <a href="#">Avocado</a>
                    </h3>
                    <ul class="food-category">
                        <li>Vegetable</li>
                    </ul>
                    <div class="food-order">
                        <p class="food-price">$19.99</p>
                        <a href="#" class="add-to-cart-link">Add To Cart</a>
                    </div><!-- /food-order -->
                </div><!-- /store-item -->
            </div><!-- /col-md-4 -->
            @*End of Product Item*@

            @*Product Item*@
            <div class="col-md-4 col-sm-6 col-xs-12 mix main">
                <div class="store-item wow fadeInDown">
                    <figure>
                        <a href="#">
                            <img src="~/Images/Gallery/gallery-2.jpg" height="200" width="200" />
                        </a>
                    </figure>
                    <h3 class="food-name">
                        <a href="#">Eggs</a>
                    </h3>
                    <ul class="food-category">
                        <li>Food Protein</li>
                    </ul>
                    <div class="food-order">
                        <p class="food-price">$29.99</p>
                        <a href="#" class="add-to-cart-link">Add To Cart</a>
                    </div><!-- /food-order -->
                </div><!-- /store-item -->
            </div><!-- /col-md-4 -->
            @*End of Product Item*@

            @*Product Item*@
            <div class="col-md-4 col-sm-6 col-xs-12 mix main">
                <div class="store-item wow fadeInDown">
                    <figure>
                        <a href="#">
                            <img src="~/Images/Gallery/gallery-3.jpg" height="200" width="200" />
                        </a>
                    </figure>
                    <h3 class="food-name">
                        <a href="#">Piment Rouge</a>
                    </h3>
                    <ul class="food-category">
                        <li>Vegetable</li>
                    </ul>
                    <div class="food-order">
                        <p class="food-price">$39.99</p>
                        <a href="#" class="add-to-cart-link">Add To Cart</a>
                    </div><!-- /food-order -->
                </div><!-- /store-item -->
            </div><!-- /col-md-4 -->
            @*End of Product Item*@
            @*Product Item*@
            <div class="col-md-4 col-sm-6 col-xs-12 mix main">
                <div class="store-item wow fadeInDown">
                    <figure>
                        <a href="#">
                            <img src="~/Images/Gallery/lemon.jpg" height="200" width="200" />
                        </a>
                    </figure>
                    <h3 class="food-name">
                        <a href="#">Fresh Lemon</a>
                    </h3>
                    <ul class="food-category">
                        <li>Vegetable</li>
                    </ul>
                    <div class="food-order">
                        <p class="food-price">$19.99</p>
                        <a href="#" class="add-to-cart-link">Add To Cart</a>
                    </div><!-- /food-order -->
                </div><!-- /store-item -->
            </div><!-- /col-md-4 -->
            @*End of Product Item*@
        
            @*Product Item*@
            <div class="col-md-4 col-sm-6 col-xs-12 mix main">
                <div class="store-item wow fadeInDown">
                    <figure>
                        <a href="#">
                            <img src="~/Images/Gallery/bracoli.jpg" height="200" width="200" />
                        </a>
                    </figure>
                    <h3 class="food-name">
                        <a href="#">Braccoli</a>
                    </h3>
                    <ul class="food-category">
                        <li>Vegetable</li>
                    </ul>
                    <div class="food-order">
                        <p class="food-price">$39.99</p>
                        <a href="#" class="add-to-cart-link">Add To Cart</a>
                    </div><!-- /food-order -->
                </div><!-- /store-item -->
            </div><!-- /col-md-4 -->
            @*End of Product Item*@
        
            @*Product Item*@
            <div class="col-md-4 col-sm-6 col-xs-12 mix main">
                <div class="store-item wow fadeInDown">
                    <figure>
                        <a href="#">
                            <img src="~/Images/Gallery/carrot.jpeg" height="200" width="200" />
                        </a>
                    </figure>
                    <h3 class="food-name">
                        <a href="#">Carrot</a>
                    </h3>
                    <ul class="food-category">
                        <li>Vegetable</li>
                    </ul>
                    <div class="food-order">
                        <p class="food-price">$39.99</p>
                        <a href="#" class="add-to-cart-link">Add To Cart</a>
                    </div><!-- /food-order -->
                </div><!-- /store-item -->
            </div><!-- /col-md-4 -->
            @*End of Product Item*@
        
            @*Product Item*@
            <div class="col-md-4 col-sm-6 col-xs-12 mix main">
                <div class="store-item wow fadeInDown">
                    <figure>
                        <a href="#">
                            <img src="~/Images/Gallery/root1.jpg" height="200" width="200" />
                        </a>
                    </figure>
                    <h3 class="food-name">
                        <a href="#">Beet</a>
                    </h3>
                    <ul class="food-category">
                        <li>Root</li>
                    </ul>
                    <div class="food-order">
                        <p class="food-price">$39.99</p>
                        <a href="#" class="add-to-cart-link">Add To Cart</a>
                    </div><!-- /food-order -->
                </div><!-- /store-item -->
            </div><!-- /col-md-4 -->
            @*End of Product Item*@
        
            @*Product Item*@
            <div class="col-md-4 col-sm-6 col-xs-12 mix main">
                <div class="store-item wow fadeInDown">
                    <figure>
                        <a href="#">
                            <img src="~/Images/Gallery/root2.jpg" height="200" width="200" />
                        </a>
                    </figure>
                    <h3 class="food-name">
                        <a href="#">Sweet Potatos</a>
                    </h3>
                    <ul class="food-category">
                        <li>Root</li>
                    </ul>
                    <div class="food-order">
                        <p class="food-price">$39.99</p>
                        <a href="#" class="add-to-cart-link">Add To Cart</a>
                    </div><!-- /food-order -->
                </div><!-- /store-item -->
            </div><!-- /col-md-4 -->
            @*End of Product Item*@


        </div><!-- /row -->

    </div><!-- /container -->
</section>
@*End of Products Section*@