@model MVCPresentationLayer.Models.NavMenuViewModel

<ul class="category-filter store-category-filter">
    
    <li>
        <span>
            @Html.ActionLink("Home", "Index", "Products", null, new { @class = ("" == Model.SelectedCategory ? "selectedCat" : "notSelected") })
        </span>
    </li>

    @foreach (var link in Model.Categories)
    {
        <li class="filter active" data-filter="all">
            <span>
                @Html.RouteLink(link, new
                {
                    controller = "Products",
                    action = "Index",
                    category = link,
                    search = Model.SearchPhrase
                }, new
                {
                    @class = (link == Model.SelectedCategory ? "selectedCat" : "notSelected")
                })
            </span>
        </li>
    }

</ul>