@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Snack Overflow is a startup company with the desire to connect produce consumers with the
local suppliers. The company believes this is an important step to facilitate a more economical and self-
sustaining organic produce market. Snack Overflow also believes its mission will boost the local
economy, keeping products sold and purchased as locally connected as possible.</p>
