@model MVCPresentationLayer.Models.HomeViewModels.ApplicationSuccessViewModel
@{
    ViewBag.Title = "Application Success";
}

<div class="jumbotron">
    <p>
        Thank you, @Model.FirstName @Model.LastName. <br/>
        Your @Model.SupplierOrCommercial application has been successfully submitted.
    </p>
</div>