@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    6301 Kirkwood Boulevard Southwest<br />
    Cedar Rapids, IA 52404<br />
    <abbr title="Phone">P:</abbr>
    319.398.5411
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@snackoverflow.com">Support@snackoverflow.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@snackoverflow.com">Marketing@snackoverflow.com</a>
</address>