<div class="cart-container clearfix">
    
    <a href="#" class="cart-link"><span>2</span></a>

    <div class="cart-items">
        <div class="cart-counter">
            <h5><span><span>2</span> Items</span> In Cart</h5>
        </div>
        <a href="" class="remove-items"><i class="fa fa-times-circle"></i></a>
        <ul>

            <li>
                <div class="item-container clearfix">
                    <figure><img src="~/Images/Gallery/gallery-1.jpg"/></figure>
                    <p class="food-name"><a href="#">Eggs</a>
                    </p>
                    <p class="food-price">$27</p>
                </div>
            </li>

            <li>
                <div class="item-container clearfix">
                    <figure><img src="~/Images/Gallery/gallery-2.jpg"/></figure>
                    <p class="food-name"><a href="#">Eggs</a>
                    </p>
                    <p class="food-price">$24</p>
                </div>
            </li>

        </ul>

        <a href="#" class="button view-cart-btn">View Cart</a>
        <a href="#" class="button checkout-btn">Checkout</a>
    </div><!-- /cart-items -->
</div><!-- /cart-container -->
