<div class="container">
    <div class="row">
        <div class="col-md-4 align-left">
            <p class="copyright">© 2017 KCC Snack Overflow. <br>All Rights Reserved</p>
        </div><!-- /col-md-4 -->
        <div class="col-md-4 align-center">
            <figure class="logo-container">
                <a href="#"><img src="~/Images/Footer/footerlogo.png" alt="Snack Overflow"></a>
            </figure>
        </div>
        <div class="col-md-4 align-center">
            <div class="socials-container">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li>@Html.ActionLink("Supplier", "Login", "Account")</li>
                </ul>
            </div><!-- /socials-container -->
        </div><!-- /col-md-4 -->
    </div><!-- /row -->
</div><!-- /container -->
