@model MVCPresentationLayer.Models.ProductsListViewModel

@*Background*@
<div class="top-banner-bg custom-bg32 parallax-bg" data-stellar-background-ratio="0.5"></div>
@*End of Background*@

@*Top Banner with image*@
<div class="top-banner style2">
    <div class="bottom-image animateme" data-when="exit" data-from="0" data-to="0.6" data-opacity="0">
        <img src="~/Images/slider-images/lolgobg2.png" alt="Snack Overflow" />
    </div>
</div>
@*End of top banner with image*@
